* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 1;
}

.box {
    border: 2px solid #ff0;
    margin: auto;
    width:40% ;
    height: 80%;
    background: transparent;
    position: relative;
    padding: 10px;
    border-radius: 8px;
    display: grid;
    place-items: center;
    overflow: hidden;

}